# Binaries
coinlens-be
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# IDEs
.idea/
.vscode/
*.iml

# OS specific
.DS_Store
Thumbs.db

# Project specific
.env
uploads/
